@model IEnumerable<Lab_2_JoseDiaz.Models.EmpleadoViewModel>

@{
    ViewData["Title"] = "Terminar";
}

<h2>Terminar</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horas_trabajadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_deEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sueldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horas_trabajadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora_deEntrada)
            </td>
            <td>
               Q. @Html.DisplayFor(modelItem => item.Sueldo).00
            </td>
            
        </tr>
}
    </tbody>
</table>
