@model IEnumerable<Lab_2_JoseDiaz.Models.EmpleadoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <form asp-controller="Empleado" asp-action="Index" method="get">
<p>
    Nombre/Apellido: <input type="text" name="SearchString" value="@ViewBag.SearchString" />
    <input type="submit" value="Search" />
</p>
    </form>
<a asp-action="Create">Añadir Nuevo empleado</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horas_trabajadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_deEntrada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.horas_trabajadas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hora_deEntrada)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
